.toc {
  position: fixed;
  left: 5%;
  top: 8em;
  width: 35em;
  padding: 1em;
  line-height: 2;
  text-align: start;
  font-size: 15px;
  /* max-height: 80%;
  overflow-y: auto; */
}
.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.toc ul ul {
  padding-left: 2em;
}
.toc li a {
  display: inline-block;
  color: #aaa;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.toc li.visible > a {
  color: #111;
  transform: translate(5px);
}
.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.toc-marker path {
  transition: all 0.3s ease;
}
.toc li a:hover {
  color: #333;
}
